.labelica {
	-fx-background-color: white;
	-fx-border-radius: 10 10 10 10;
  	-fx-background-radius: 10 10 10 10;

}

.root2 {
	-fx-background-color: gray;
	-fx-border-radius: 10 10 10 10;
  	-fx-background-radius: 10 10 10 10;
}

.teren {
	-fx-background-image:url('Sport-Basketball-court-color-Template.png');
	-fx-background-size: cover;
}

.dugmeIgrac {
	-fx-background-color: yellow;
	-fx-border-radius: 25 25 25 25;
  	-fx-background-radius: 25 25 25 25;
}